<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-header">
      <h2>{{formTitle}}</h2>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">

        <div>
          <label for="markId" class="form-label">Course Code</label>
          <input type="text" id="markId" name="markId" class="form-control" value="{{course.courseCode}}"
                 disabled>
        </div>
        <div>
          <label for="assignmentId" class="form-label">Assignment Title</label>
          <input type="text" id="assignmentId" name="assignmentId" class="form-control" value="{{assignment.title}}"
                 disabled>
        </div>

        <div>
          <label for="txtTitle" class="form-label">Note Title</label>
          <input type="text" id="txtTitle" name="txtTitle" class="form-control"
                 [(ngModel)]="note.title" #title="ngModel"
                 required>
          <div *ngIf="title.invalid && (title.dirty || title.touched)">
            <small *ngIf="title.errors['required']" class="text-danger">
              Please provide note title.
            </small>
          </div>
        </div>
        <div>
          <label for="txtNote" class="form-label">Note</label>
          <input type="textarea" id="txtNote" name="txtNote" class="form-control"
                 [(ngModel)]="note.note" #Note="ngModel"
                 required>
          <div *ngIf="Note.invalid && (Note.dirty || Note.touched)">
            <small *ngIf="Note.errors['required']" class="text-danger">
              Please provide note.
            </small>
          </div>
        </div>



        <div class="mt-5">
          <button class="btn btn-primary" id="btnSave" name="btnSave"
                  [disabled]="myForm.invalid"
                  (click)="btnUpdate_click()">
            Update
          </button>
          <button class="btn btn-danger" id="btnCancel" name="btnCancel"
                  (click)="btnCancel_click()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
