<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>List of Marks</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let mark of marks; index as i" class="list-group-item">
          <div class="card-body">

            <p class="card-title">Grade:  {{mark.grade}}</p>
            <p class="card-text">Weight: {{mark.weight}}</p>

            <button type="button" id="btnModify" name="btnModify"
                    class="btn btn-primary btn-sm me-4"
                    (click)="btnModify_click(mark)">Modify
            </button>

            <button type="button" id="btnDelete" name="btnDelete"
                    class="btn btn-danger btn-sm me-4"
                    (click)="btnDelete_click(mark)">Delete
            </button>
          </div>


        </li>
      </ul>
    </div>
  </div>
</div>
