<div class="m-4">
  <div class="btn-group">
    <--https://getbootstrap.com/docs/4.6/components/dropdowns/-->
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>List of Assignment</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let assignment of assignments" class="list-group-item">
          <button type="button" id="btnModify" name="btnModify"
                  class="btn btn-primary btn-sm me-4"
                  (click)="btnModify_click(assignment)">Modify
          </button>

          <button type="button" id="btnDelete" name="btnDelete"
                  class="btn btn-danger btn-sm me-4"
                  (click)="btnDelete_click(assignment)">Delete
          </button>
          {{assignment.assignmentNumber}}
          {{assignment.title}}
        </li>


      </ul>
    </div>
  </div>
</div>
