<div class="m-4" id="assignmentsList">
  <div class="card">
    <div class="card-header">
      <h2>List of Assignment</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let assignment of assignments" class="list-group-item">

          <div class="card-body">
            <h5 class="card-title">Title:  {{assignment.title}}</h5>
            <p class="card-text">Assignment #: {{assignment.assignmentNumber}}</p>
            <p class="card-text">Due Date: {{assignment.dueDate}}</p>
            <p class="card-text">Description: {{assignment.description}}</p>
            <p class="card-text">Weight: {{assignment.weight}}%</p>

            <div [ngSwitch]="assignment.isFinished">
              <p *ngSwitchCase="'true'">Is Finished? YES</p>
              <p *ngSwitchCase="'false'">Is Finished? NO</p>
            </div>

            <button type="button" id="btnModify" name="btnModify"
                    class="btn btn-primary btn-sm me-4"
                    (click)="btnModify_click(assignment)">Modify
            </button>

            <button type="button" id="btnDelete" name="btnDelete"
                    class="btn btn-danger btn-sm me-4"
                    (click)="btnDelete_click(assignment)">Delete
            </button>
          </div>




        </li>


      </ul>
    </div>
  </div>
</div>
