<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="home"><i class="fa-brands fa-canadian-maple-leaf"></i> College Planner</a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="home"><span class="fa fa-home"></span> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-book"></i> Courses
          </a>
          <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-light" href="listCourse"><i class="fa-solid fa-list"></i> List of Courses</a></li>
            <li><a class="dropdown-item text-light" href="addCourse"><i class="fa-solid fa-plus"></i> Add Course</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-thumbtack"></i> Assignments
          </a>
          <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-light" href="listAssignment"><i class="fa-solid fa-list-check"></i> List of Assignments</a></li>
            <li><a class="dropdown-item text-light" href="addAssignment"><i class="fa-solid fa-plus"></i> Add Assignment</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-chart-line"></i> Marks
          </a>
          <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-light" href="listMark"><i class="fa-solid fa-list-ol"></i> List of Marks</a></li>
            <li><a class="dropdown-item text-light" href="addMark"><i class="fa-solid fa-plus"></i> Add Mark</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-marker"></i> Notes
          </a>
          <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-light" href="listNote"><i class="fa-solid fa-list-ul"></i> List of Notes</a></li>
            <li><a class="dropdown-item text-light" href="addNote"><i class="fa-solid fa-plus"></i> Add Note</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="about"><i class="fa-solid fa-address-card"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="setting"><i class="fa-solid fa-gears"></i> Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
