<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Settings</h2>
    </div>
    <div class="card-body">
      <button type="button" id="btnCreateDatabase" name="btnCreateDatabase"
              class="btn btn-primary container-fluid mb-3"
              (click)="btnCreateDatabase_click()">Create Database</button>

      <button type="button" id="btnClearDatabase" name="btnClearDatabase"
              class="btn btn-danger container-fluid"
              (click)="btnClearDatabase_click()">Clear Database</button>
    </div>
  </div>
</div>
