<div class="container-fluid pb-5">
  <div class="card mt-4 ">
    <div class="card-header">
      <h2>{{formTitle}}</h2>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">

        <div>
          <label for="txtCourseCode" class="form-label">Course Code:</label>
          <input type="text" id="txtCourseCode" name="txtCourseCode" class="form-control" value="{{course.courseCode}}"
                 disabled>
        </div>


        <div>
          <label for="txtAssignmentNumber" class="form-label">Assignment Number</label>
          <input type="number" id="txtAssignmentNumber" name="txtAssignmentNumber" class="form-control"
                 [(ngModel)]="assignment.assignmentNumber" #assignmentNumber="ngModel"
                 required>
          <div *ngIf="assignmentNumber.invalid && (assignmentNumber.dirty || assignmentNumber.touched)">
            <small *ngIf="assignmentNumber.errors['required']" class="text-danger">
              Please enter the assignment number.
            </small>
          </div>
        </div>

        <div>
          <label for="txtTitle" class="form-label">Title</label>
          <input type="text" id="txtTitle" name="txtTitle" class="form-control"
                 [(ngModel)]="assignment.title" #title="ngModel"
                 required>
          <div *ngIf="title.invalid && (title.dirty || title.touched)">
            <small *ngIf="title.errors['required']" class="text-danger">
              Please enter the title.
            </small>
          </div>
        </div>

        <div>
          <label for="txtDueDate" class="form-label">Due Date</label>
          <input type="date" id="txtDueDate" name="txtDueDate" class="form-control"
                 [(ngModel)]="assignment.dueDate" #dueDate="ngModel"
                 required>
          <div *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)">
            <small *ngIf="dueDate.errors['required']" class="text-danger">
              Please provide a due date.
            </small>
          </div>
        </div>
        <div>
          <label for="txtDescription" class="form-label">Description</label>
          <textarea  type="textarea" id="txtDescription" name="txtDescription" class="md-textarea form-control"
                     [(ngModel)]="assignment.description" #description="ngModel"
                     required></textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)">
            <small *ngIf="description.errors['required']" class="text-danger">
              Please enter the brief description of assignment.
            </small>
          </div>
        </div>

        <div>
          <label for="txtWeight" class="form-label">Weight(%)</label>
          <input type="number" id="txtWeight" name="txtWeight" class="form-control" step ="0.01" min="1" max="100"
                 [(ngModel)]="assignment.weight" #weight="ngModel"
                 required>
          <div *ngIf="weight.invalid && (weight.dirty || weight.touched)">
            <small *ngIf="weight.errors" class="text-danger">
              Please enter weight of assignment in range from 1 to 100.
            </small>
          </div>
        </div>

        <div>
          <label for="isFinished" class="form-label">Is Finished</label>
          <select name="isFinished" id="isFinished"  class="form-control"
                  [(ngModel)]="assignment.isFinished" (ngModelChange)="onFinishedChange($event)" #isFinished="ngModel"
                  required>
            <option [ngValue]="1">Yes</option>
            <option [ngValue]="0">No</option>
          </select>
          <div *ngIf="isFinished.invalid && (isFinished.dirty || isFinished.touched)">
            <small *ngIf="isFinished.errors['required']" class="text-danger">
              Please enter status.
            </small>
          </div>
        </div>


        <div class="mt-5">
          <button class="btn btn-primary" id="btnSave" name="btnSave"
                  [disabled]="myForm.invalid"
                  (click)="btnUpdate_click()">
            Update
          </button>
          <button class="btn btn-danger" id="btnCancel" name="btnCancel"
                  (click)="btnCancel_click()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

