<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-header">
      <h2>{{formTitle}}</h2>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div>
          <label for="assignmentId" class="form-label">Assignment</label>
          <input type="text" id="assignmentId" name="assignmentId" class="form-control"
                 [(ngModel)]="mark.assignmentId" #weight="ngModel" disabled
          >
        </div>

        <div>
          <label for="txtWeight" class="form-label">Weight(%)</label>
          <input type="text" id="txtWeight" name="txtWeight" class="form-control"
                 [(ngModel)]="mark.weight" #weight="ngModel" disabled
          >
        </div>

        <div>
          <label for="txtGrade" class="form-label">Grade(%)</label>
          <input type="number" id="txtGrade" name="txtGrade" class="form-control" step ="0.01" min="1" max="100"
                 [(ngModel)]="mark.grade" #grade="ngModel"
                 value="{{mark.grade}}"
                 required>
          <div *ngIf="grade.invalid && (grade.dirty || grade.touched)">
            <small *ngIf="grade.errors['required']" class="text-danger">
              Please enter grade of assignment in range from 1 to 100.
            </small>
          </div>
        </div>

        <div class="mt-5">
          <button class="btn btn-primary" id="btnSave" name="btnSave"
                  [disabled]="myForm.invalid"
                  (click)="btnUpdate_click()">
            Update
          </button>
          <button class="btn btn-danger" id="btnCancel" name="btnCancel"
                  (click)="btnCancel_click()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
