
<div class="card text-center">
  <div class="card-header">
    <h1>About</h1>
  </div>
  <div class="card-body">
    <h2 class="card-title">Developers</h2>
    <p class="card-text"><strong>Jaewon Yang:</strong> jyang3806@conestogac.on.ca</p>
    <p class="card-text"><strong>Dmytrii Furs:</strong> dfurs3133@conestogac.on.ca</p>
    <p class="card-text">JD Project Planner, we are here to help you to manage
    projects easily. Your time is important. Use app and maximize your time!</p>
    <a href="#" class="btn btn-primary">Back to home</a>
  </div>
  <div class="card-footer text-muted">
    Since 04/10/2022
  </div>
</div>
<app-footer></app-footer>
